.card--whois { grid-area: whois; }
.card--ns { grid-area: ns; }
.card--mx { grid-area: mx; }
.card--web { grid-area: web; }
.card--ssl { grid-area: ssl; }
.card--http { grid-area: http; }
.card--php { grid-area: php; }
.card--ss { grid-area: ss; }

.card {
    padding: 15px;
    background-color: @color-card-bg;
    position: relative;
    overflow: hidden;
    z-index: 0;
    & + .card {
        @media @bp-xs-sm {
            margin-top: 15px;
        }
    }
    .bg-icon {
        z-index: -1;
        position: absolute;
        width: 120px;
        height: 70px;
        top: 15px;
        right: -15px;
        text-align: right;
        svg {
            max-width: 100%;
            max-height: 100%;
            color: @color-site-bg;
        }
    }
    h2 {
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: normal;
        font-size: 14px;
        opacity: 0.3;
    }
    p, li {
        line-height: 2;
        font-size: 16px;
    }
    li {
        word-break: break-all;
    }
    .unknown {
        opacity: 0.6;
    }
    .translated {
        padding-left: 40px;
        position: relative;
        word-break: break-all;
        .arrow {
            position: absolute;
            left: 15px;
            svg {
                position: relative;
                top: 3px;
                width: 12px;
                margin-right: 10px;
                transform: rotate(90deg);
                color: @color-site-color;
            }
        }
    }
    a {
        text-decoration: none;
        &:hover {
            color: @color-accent-1;
        }
    }
    table {
        width: 100%;
        td, th {
            vertical-align: top;
            text-align: left;
            line-height: 2;
            font-weight: normal;
            font-size: 16px;
        }
        th {
            padding-right: 15px;
        }
    }
}

